<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav_list_item">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav_list_item">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav_list_item">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="nav_list_item">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
