<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav_list_item">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav_list_item">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav_list_item">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onCloseSidenav ()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="nav_list_item">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
