.main_header{
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    left: 0;
    z-index: 100;
}

a{
    text-decoration: none;
    color: white;
}
a:hover,
a:active{
    color: rgb(156, 154, 154);
}

.nav_items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logout_item{
    cursor: pointer;
}

.logo{
    height: 40px;
    border-radius: 50%;
}